<center> <h1 style= "color:red"> Assignments-5 </h1> </center>

<center> <h2 style= "color:orange"> Loops </h2> </center>

<center> <h2 style= "color:orange"> Basic Lavel </h2> </center>

1. Print all elements of a list using a for loop. 
2. Print all characters of a string using a for loop. 
3. Use a while loop to print numbers from 1 to 10. 
4. Use break to exit a loop when number is divisible by 7. 
5. Use continue to skip printing even numbers from 1 to 10. 
6. Use pass as a placeholder in a for loop with a condition. 
7. Print numbers 1 to 5 and use else after the loop to print 'Done'. 
8. Find the sum of all elements in a list using a loop. 
9. Count how many numbers in a list are greater than 10. 
10. Use enumerate to print index and value of a list of names. 
11. Zip two lists (names and marks) and print name with mark. 
12. Reverse a string using a loop and print the result. 
13. Sort a list of numbers using sorted() and print. 
14. Print all keys and values of a dictionary using loop. 
15. Create a 3x3 matrix and print each element using nested loops. 
16. Print only vowels from a given string using for loop and continue. 
17. Write a while loop that continues until user types 'exit'. 
18. Print all even numbers from 1 to 50 using a while loop. 
19. Use loop with else to search an element in a list. 
20. Use zip() to combine three lists: names, scores, and ages. 
21. Write a program to print the factorial of a number using while loop. 
22. Use nested for loop to generate multiplication table (1-5). 
23. Create a dictionary of students and their scores, print passed students (score>=50). 
24. Print list items in reverse using reversed() in a loop. 
25. Sort a dictionary by its values and print key-value pairs. 
26. Flatten a nested list using nested loops. 
27. Find maximum and minimum in a list using loop (not built-in max/min). 
28. Print all words from a string that start with vowel using loop idiom. 
29. Count occurrences of a character in string using loop. 
30. Print a square pattern of '*' of size 4x4: 
Output: 

```txt
**** 
**** 
**** 
**** 
```

 31. Print a right-angled triangle pattern:

```txt
* 
** 
*** 
**** 
```

 32. Print a pyramid pattern: 

```txt
   * 
  *** 
 ***** 
******* 
```

 33. Print an inverted pyramid pattern: 
 
```txt
 ******* 
  ***** 
   *** 
    * 
```
 
 34. Write a loop to check if a string is a palindrome. 
 35. Use loop with zip and condition to print matched elements only. 
 36. Print prime numbers between 1 to 100 using for-else logic. 
 37. Generate Fibonacci series using while loop until 100. 
 38. Use enumerate with condition to filter and print only odd indexed elements. 
 39. Print multiplication tables from 1 to 10 using nested loops. 
 40. Sort a list of tuples based on second element using sorted(). 
 41. Write a program to count frequency of each word in a string using dict and loop. 
 42. Generate pattern:

```txt
1 
22 
333 
4444 
```
 
 43. Print hollow square pattern: 

```txt
***** 
*   * 
*   * 
***** 
```

44. Reverse a list using while loop without using reversed() or slicing. 
45. Merge multiple lists using zip and display all combinations. 
46. Print a diamond pattern: 

```txt
* 
*** 
***** 
*** 
*
```

47. Loop through a matrix and print its transpose. 
48. Use nested dictionaries and loops to display subject-wise marks of each student. 
49. Implement bubble sort using nested loops and print each pass. 
50. Given a matrix, calculate its row-wise and column-wise sum using nested loops.

In [1]:
# 1. Print all elements of a list using a for loop
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

In [2]:
# 2. Print all characters of a string using a for loop
text = "Python"
for char in text:
    print(char)

P
y
t
h
o
n

In [3]:
# 3. Use a while loop to print numbers from 1 to 10
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [4]:
# 4. Use break to exit a loop when number is divisible by 7
for num in range(1, 100):
    if num % 7 == 0:
        print("First multiple of 7:", num)
        break

First multiple of 7: 7

In [5]:
# 5. Use continue to skip printing even numbers from 1 to 10
for num in range(1, 11):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

In [6]:
# 6. Use pass as a placeholder in a for loop with a condition
for num in range(1, 6):
    if num == 3:
        pass  # Placeholder to be implemented later
    else:
        print(num)

1
2
4
5

In [7]:
# 7. Print numbers 1 to 5 and use else after the loop to print 'Done'
for num in range(1, 6):
    print(num)
else:
    print("Done")

1
2
3
4
5
Done

In [8]:
# 8. Find the sum of all elements in a list using a loop
numbers = [3, 7, 2, 9, 5]
total = 0
for num in numbers:
    total += num
print("Sum:", total)

Sum: 26

In [9]:
# 9. Count how many numbers in a list are greater than 10
numbers = [5, 11, 20, 3, 15]
count = 0
for num in numbers:
    if num > 10:
        count += 1
print("Count:", count)

Count: 3

In [10]:
# 10. Use enumerate to print index and value of a list of names
names = ["Alice", "Bob", "Charlie"]
for index, name in enumerate(names):
    print(index, name)

0 Alice
1 Bob
2 Charlie

In [11]:
# 11. Zip two lists (names and marks) and print name with mark
names = ["Alice", "Bob", "Charlie"]
marks = [85, 92, 78]
for name, mark in zip(names, marks):
    print(name, ":", mark)

Alice : 85
Bob : 92
Charlie : 78

In [12]:
# 12. Reverse a string using a loop and print the result
text = "Python"
reversed_text = ""
for char in text:
    reversed_text = char + reversed_text
print(reversed_text)

nohtyP

In [13]:
# 13. Sort a list of numbers using sorted() and print
numbers = [7, 2, 9, 4, 1]
print(sorted(numbers))

[1, 2, 4, 7, 9]

In [14]:
# 14. Print all keys and values of a dictionary using loop
student_scores = {"Alice": 85, "Bob": 92, "Charlie": 78}
for key, value in student_scores.items():
    print(key, ":", value)

Alice : 85
Bob : 92
Charlie : 78

In [15]:
# 15. Create a 3x3 matrix and print each element using nested loops
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for row in matrix:
    for element in row:
        print(element, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [16]:
# 16. Print only vowels from a given string using for loop and continue
text = "education"
for char in text:
    if char.lower() in "aeiou":
        print(char, end=" ")

e u a i o

In [17]:
# 17. Write a while loop that continues until user types 'exit'
while True:
    user_input = input("Enter something (type 'exit' to stop): ")
    if user_input.lower() == "exit":
        break

In [18]:
# 18. Print all even numbers from 1 to 50 using a while loop
i = 1
while i <= 50:
    if i % 2 == 0:
        print(i, end=" ")
    i += 1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [19]:
# 19. Use loop with else to search an element in a list
numbers = [3, 7, 2, 9, 5]
search = 7
for num in numbers:
    if num == search:
        print("Found", search)
        break
else:
    print("Not found")

Found 7

In [20]:
# 20. Use zip() to combine three lists: names, scores, and ages
names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 78]
ages = [20, 22, 19]
for name, score, age in zip(names, scores, ages):
    print(name, score, age)

Alice 85 20
Bob 92 22
Charlie 78 19

In [21]:
# 21. Write a program to print the factorial of a number using while loop
num = 5
fact = 1
while num > 0:
    fact *= num
    num -= 1
print("Factorial:", fact)

Factorial: 120

In [22]:
# 22. Use nested for loop to generate multiplication table (1-5)
for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i} x {j} =", i * j)
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [23]:
# 23. Create a dictionary of students and their scores, print passed students (score >= 50)
students = {"Alice": 85, "Bob": 45, "Charlie": 78}
for student, score in students.items():
    if score >= 50:
        print(student, "Passed")

Alice Passed
Charlie Passed

In [24]:
# 24. Print list items in reverse using reversed() in a loop
numbers = [1, 2, 3, 4, 5]
for num in reversed(numbers):
    print(num)

5
4
3
2
1

In [25]:
# 25. Sort a dictionary by its values and print key-value pairs
students = {"Alice": 85, "Bob": 45, "Charlie": 78}
sorted_students = sorted(students.items(), key=lambda x: x[1])
for key, value in sorted_students:
    print(key, value)

Bob 45
Charlie 78
Alice 85

In [26]:
# 26. Flatten a nested list using nested loops
nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = []
for sublist in nested_list:
    for item in sublist:
        flat_list.append(item)
print(flat_list)

[1, 2, 3, 4, 5, 6]

In [27]:
# 27. Find maximum and minimum in a list using loop (not built-in max/min)
numbers = [7, 2, 9, 4, 1]
max_num = numbers[0]
min_num = numbers[0]
for num in numbers:
    if num > max_num:
        max_num = num
    if num < min_num:
        min_num = num
print("Max:", max_num, "Min:", min_num)

Max: 9 Min: 1

In [28]:
# 28. Print all words from a string that start with vowel using loop idiom
sentence = "apple banana orange elephant dog"
words = sentence.split()
for word in words:
    if word[0].lower() in "aeiou":
        print(word)

apple
orange
elephant

In [29]:
# 29. Count occurrences of a character in string using loop
text = "Mississippi"
char_count = {}
for char in text:
    char_count[char] = char_count.get(char, 0) + 1
print(char_count)

{'M': 1, 'i': 4, 's': 4, 'p': 2}

In [30]:
# 30. Print a square pattern of '*' of size 4x4
size = 4
for _ in range(size):
    print('*' * size)

****
****
****
****

In [31]:
# 31. Print a right-angled triangle pattern
size = 4
for i in range(1, size + 1):
    print('*' * i)

*
**
***
****

In [32]:
# 32. Print a pyramid pattern
size = 4
for i in range(1, size + 1):
    print(' ' * (size - i) + '*' * (2 * i - 1))

   *
  ***
 *****
*******

In [33]:
# 33. Print an inverted pyramid pattern
size = 4
for i in range(size, 0, -1):
    print(' ' * (size - i) + '*' * (2 * i - 1))

*******
 *****
  ***
   *

In [51]:
# 34. Write a loop to check if a string is a palindrome
text = "racecar"
is_palindrome = True
for i in range(len(text) // 2):
    if text[i] != text[-(i + 1)]:
        is_palindrome = False
        break
print(text, "is Palindrome?" , is_palindrome)

racecar is Palindrome? True

In [52]:
# 35. Use loop with zip and condition to print matched elements only
list1 = [1, 2, 3, 4]
list2 = [2, 3, 4, 5]
for a, b in zip(list1, list2):
    if a == b:
        print("Match:", a)

In [36]:
# 36. Print prime numbers between 1 to 100 using for-else logic
for num in range(2, 101):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [37]:
# 37. Generate Fibonacci series using while loop until 100
a, b = 0, 1
while a <= 100:
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34 55 89

In [38]:
# 38. Use enumerate with condition to filter and print only odd indexed elements
items = ["a", "b", "c", "d", "e"]
for index, value in enumerate(items):
    if index % 2 != 0:
        print(value)

b
d

In [39]:
# 39. Print multiplication tables from 1 to 10 using nested loops
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [40]:
# 40. Sort a list of tuples based on second element using sorted()
students = [("Alice", 85), ("Bob", 45), ("Charlie", 78)]
print(sorted(students, key=lambda x: x[1]))

[('Bob', 45), ('Charlie', 78), ('Alice', 85)]

In [41]:
# 41. Count frequency of each word in a string using dict and loop
sentence = "this is a test this is only a test"
word_count = {}
for word in sentence.split():
    word_count[word] = word_count.get(word, 0) + 1
print(word_count)

{'this': 2, 'is': 2, 'a': 2, 'test': 2, 'only': 1}

In [42]:
# 42. Generate pattern:
for i in range(1, 5):
    print(str(i) * i)

1
22
333
4444

In [43]:
# 43. Print hollow square pattern
size = 5
for i in range(size):
    if i == 0 or i == size - 1:
        print('*' * size)
    else:
        print('*' + ' ' * (size - 2) + '*')

*****
*   *
*   *
*   *
*****

In [44]:
# 44. Reverse a list using while loop without using reversed() or slicing
numbers = [1, 2, 3, 4, 5]
i = len(numbers) - 1
while i >= 0:
    print(numbers[i])
    i -= 1

5
4
3
2
1

In [45]:
# 45. Merge multiple lists using zip and display all combinations
names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 78]
ages = [20, 22, 19]
for combo in zip(names, scores, ages):
    print(combo)

('Alice', 85, 20)
('Bob', 92, 22)
('Charlie', 78, 19)

In [46]:
# 46. Print a diamond pattern
size = 3
for i in range(1, size + 1):
    print(' ' * (size - i) + '*' * (2 * i - 1))
for i in range(size - 1, 0, -1):
    print(' ' * (size - i) + '*' * (2 * i - 1))

  *
 ***
*****
 ***
  *

In [47]:
# 47. Loop through a matrix and print its transpose
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in range(len(matrix[0])):
    for row in matrix:
        print(row[i], end=" ")
    print()

1 4 7
2 5 8
3 6 9

In [48]:
# 48. Use nested dictionaries and loops to display subject-wise marks of each student
students = {"Alice": {"Math": 85, "Science": 90}, "Bob": {"Math": 78, "Science": 88}}
for student, subjects in students.items():
    print(student)
    for subject, marks in subjects.items():
        print(f"  {subject}: {marks}")

Alice
  Math: 85
  Science: 90
Bob
  Math: 78
  Science: 88

In [49]:
# 49. Implement bubble sort using nested loops and print each pass
numbers = [5, 3, 8, 1, 2]
n = len(numbers)
for i in range(n):
    for j in range(n - i - 1):
        if numbers[j] > numbers[j + 1]:
            numbers[j], numbers[j + 1] = numbers[j + 1], numbers[j]
    print("Pass", i + 1, ":", numbers)

Pass 1 : [3, 5, 1, 2, 8]
Pass 2 : [3, 1, 2, 5, 8]
Pass 3 : [1, 2, 3, 5, 8]
Pass 4 : [1, 2, 3, 5, 8]
Pass 5 : [1, 2, 3, 5, 8]

In [50]:
# 50. Given a matrix, calculate its row-wise and column-wise sum using nested loops
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
row_sums = [sum(row) for row in matrix]
col_sums = [sum(col) for col in zip(*matrix)]
print("Row sums:", row_sums)
print("Column sums:", col_sums)

Row sums: [6, 15, 24]
Column sums: [12, 15, 18]