<center> <h1> Loops </h1> </center>

<center> <h2> For Loops </h2> </center>

In [26]:
s = "sudhanshu"

In [27]:
s[0]

's'

In [28]:
s[-1]

'u'

In [29]:
s[0:6]

'sudhan'

In [30]:
s

'sudhanshu'

In [31]:
for i in s :
    print(i.upper())

S
U
D
H
A
N
S
H
U

In [32]:
l = [2,3,4,5,6]

In [33]:
for i in l :
    print(i)

2
3
4
5
6

In [34]:
range(5)

range(0, 5)

In [35]:
list(range(5))

[0, 1, 2, 3, 4]

In [36]:
range(4 ,40 )

range(4, 40)

In [37]:
list(range(4,40))

[4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

In [38]:
list(range(4,40,3))

[4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37]

In [39]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [40]:
s = "sudhanshu"
for i in range(0,len(s),2):
    print(s[i])

s
d
a
s
u

In [41]:
s[::-1]

'uhsnahdus'

In [42]:
s

'sudhanshu'

In [43]:
list(range(len(s)-1, -1,-1))

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [44]:
s[8]

'u'

In [45]:
for i in range(len(s)-1, -1,-1):
    print(s[i])

u
h
s
n
a
h
d
u
s

In [46]:
n = 10
for i in range(1,n+1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [47]:
"s " * 3

's s s '

In [48]:
n = 10
for i in range(1 ,n+1):
    for j in range(1,i+1):
        print(j,end="     ")
    print(end = '\n')

1
1     2
1     2     3
1     2     3     4
1     2     3     4     5
1     2     3     4     5     6
1     2     3     4     5     6     7
1     2     3     4     5     6     7     8
1     2     3     4     5     6     7     8     9
1     2     3     4     5     6     7     8     9     10

In [49]:
n = 5
for i in range(1,n+1):
    print(" " *(n-i) + "*"*i )

    *
   **
  ***
 ****
*****

In [50]:
n = 5
for i in range(1 , n+1):
    print(" " * (n-i) + "*"*(2*i-1 ))

    *
   ***
  *****
 *******
*********

In [51]:
n = 5
for i in range(1 , n+1):
    print(" " * (n-i) + "*"*(2*i-1 ))
for i in range(n-1,0,-1):
    print(" " * (n-i) + "*"*(2*i-1 ))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

<center> <h2> While Loops </h2> </center>

In [52]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [53]:
i = 1 
while i <=5:
    print(i)
    i = i +1

1
2
3
4
5

In [54]:
n = 5
total = 0 
i = 1 
while i<=5 :
    total = total + i
    i = i + 1 
print(total)

15

In [55]:
i = 10 
while i >=1:
    print(i)
    i = i-1

10
9
8
7
6
5
4
3
2
1

In [56]:
s = "sudhanshu"
i = 0 
while i < len(s):
    print(s[i])
    i = i+1

s
u
d
h
a
n
s
h
u

In [57]:
i = 2 
while i <=100:
    print(i)
    i = i+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

<center> <h2> Break, Continue, Pass, Else Idioms </h2> </center>

In [58]:
for i in range(1,20):
    if i % 7 == 0:
        break
    print(i)

1
2
3
4
5
6

In [59]:
for i in range(1,20):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [60]:
for i in range(1,20):
    if i==3:
       pass 
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [61]:
for i in range(6):
    pass

In [62]:
for i in range(6):

IndentationError: expected an indented block after 'for' statement on line 1 (1935284599.py, line 1)

In [ ]:
if True:

IndentationError: expected an indented block after 'if' statement on line 1 (2961736738.py, line 1)

In [ ]:
if True:
    pass

In [ ]:
while True :
    name = input("enter your name")
    if name == "euron":
        break
    print(name)

wasiq

In [ ]:
i = 0 
while i <5 :
    i =i+ 1 
    if i == 3:
        continue
    print(i)

1
2
4
5

In [ ]:
i = 0 
while i <5 :
    i =i+ 1 
    if i == 3:
        pass
    print(i)

1
2
3
4
5

In [ ]:
for i in range(5):
    print(i)
else :
    print("this will be executed if for loop is going to compelte itself")

0
1
2
3
4
this will be executed if for loop is going to compelte itself

In [ ]:
for i in range(5):
    if i==3 :
        break
    print(i)
else :
    print("this will be executed if for loop is going to compelte itself")

0
1
2

In [ ]:
x = 0
while x < 3 :
    print(x)
    x = x+1
else:
    print("this will be executed if while loop ends naturally")

0
1
2
this will be executed if while loop ends naturally

In [ ]:
x = 0
while x < 3 :
    print(x)
    if x == 2:
        break
    x = x+1
else:
    print("this will be executed if while loop ends naturally")

0
1
2

In [ ]:
l = [2,3,4,5,6,7]
sum = 0
for i in l :
    sum = sum + i 
print(sum)

27

<center> <h2> Enum, Zip, Reversed, Sorted, Dictionary </h2> </center>

In [ ]:
enumerate("euron")

In [ ]:
list(enumerate("euron"))

[(0, 'e'), (1, 'u'), (2, 'r'), (3, 'o'), (4, 'n')]

In [ ]:
for  i in enumerate("euron"):
    print(i)

(0, 'e')
(1, 'u')
(2, 'r')
(3, 'o')
(4, 'n')

In [ ]:
for  index , data in enumerate("euron"):
    print(index, data)

0 e
1 u
2 r
3 o
4 n

In [ ]:
l = [1,2,3,4]
l1 = ["sudh","kumar","euron"]
l2 = [5,6,7]

In [ ]:
list(zip(l, l1, l2))

[(1, 'sudh', 5), (2, 'kumar', 6), (3, 'euron', 7)]

In [ ]:
list(reversed("sudh"))

['h', 'd', 'u', 's']

In [ ]:
sorted([3,4,1,2],reverse = True)

[4, 3, 2, 1]

In [ ]:
d ={"name":"sudhanshu","comapany":"euron","subject":["data","ops","dsa"]}

In [ ]:
for i in d.items():
    print(i)

('name', 'sudhanshu')
('comapany', 'euron')
('subject', ['data', 'ops', 'dsa'])